* {
    margin: 0 !important;
    padding: 0 !important; 
}

::-webkit-scrollbar{
    display: none;
}

.logo {
    width: 100px !important;
    justify-content: start !important;
}

.backgrounds {
    background-image: url(https://i.postimg.cc/3R7GmwjY/backgroun2.png);
    height: 100vh;
    background-position: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
    
}

a {
    color: #BD2C2C !important;
    font-weight: bold !important;
}

.navbar-toggler {
    background-color: #BD2C2C !important;
    border-radius: 10px !important;
}

footer {
    color: white;
}