/* * {
    margin: 0 !important;
    padding: 0 !important; 
} */

::-webkit-scrollbar{
    display: none;
}

body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);   
}

a {
    color: #BD2C2C !important;
}

li a:hover {
    background-color: #BD2C2C !important;
    color: white !important;

}