
::-webkit-scrollbar{
    display: none;
}

body {
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
}

button {
    background-color: #BD2C2C !important;
    color: black !important;
    border: 2px solid white !important;
    border-radius: 20px !important;
    font-weight: bold !important;
}

button:hover {
    background-color: black !important;
    color: #BD2C2C !important;
    border: 2px solid white !important;
    border-radius: 20px !important;
    font-weight: bold !important;
}

.card {
    background-color: gray !important;
}

a {
    color: #BD2C2C !important;
}